---

---
<div class="flex flex-col items-center justify-center w-full h-full mx-auto">
    <video controls class="w-full h-full rounded-xl object-cover"> <!-- Adjusted classes here -->
        <source src="https://frugalthinkerstorage.blob.core.windows.net/frugal-thinker-videos/training/sparring-with-coach-2024-04-ytb.mov.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>
