<div class="aspect-w-16 aspect-h-9 h-full w-full ">
<iframe
  src="https://www.youtube-nocookie.com/embed/NOcBqJl00gg?si=GGPM5yNL-AXOrQxk"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  referrerpolicy="strict-origin-when-cross-origin"
  allowfullscreen class="rounded-xl"></iframe>
</div>
