
<blockquote class="text-xl italic font-semibold text-gray-900 dark:text-white flex items-center justify-center h-full w-full">
  <p>"Strength does not come from winning. Your struggles develop your strengths. When you go through hardships and decide not to surrender, that is strength." <br><br>– Arnold Schwarzenegger</p>
</blockquote>
